<!DOCTYPE html>
<html lang="zh-CN">
<head>
	{include file="Public:header" /}
	<link rel="stylesheet" href="__STATIC__/admin/assets/css/view.css"/>
    <link rel="icon" href="__STATIC__/admin/favicon.ico">
    <title>商品添加</title>
</head>
<body class="layui-view-body">
<div class="layui-content">
	<div class="layui-page-header">
		<div class="pagewrap">
			<span class="layui-breadcrumb">
				<a href="">首页</a>
				<a href="">用户</a>
				<a><cite>商品添加</cite></a>
			</span>
			<h2 class="title">商品添加</h2>
		</div>
	</div>
	<div class="layui-row">
		<div class="layui-col-lg-offset3 layui-col-xs6">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">所属分类</label>
					<div class="layui-input-block">
						<select name="cid" lay-verify="required">
							<option value="0">请选择</option>
							{volist name="category" id="cate"}
							<option value="{$cate.id}">{if condition ="$cate['pid'] neq '0'"}|<?php echo str_repeat("___",$cate['level']); ?>{/if} {$cate.title}</option>
							{/volist}
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">商品名称</label>
					<div class="layui-input-block">
						<input type="text" name="name" required  lay-verify="required" placeholder="请输入商品名" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">商品图片</label>
					<div class="layui-input-block">
						<button type="button" class="layui-btn" id="upcolumn">
							<i class="layui-icon">&#xe67c;</i>上传图片
						</button>
						<img src="" alt="" width="30%" height="auto" id="columnImg" class="layui-hide" />
						<input type="hidden" value="" name="img" id="columnimgs">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">商品数量</label>
					<div class="layui-input-block">
						<input type="text" name="sum" required  lay-verify="required" placeholder="请输入商品数量" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">商品价格</label>
					<div class="layui-input-block">
						<input type="text" name="price" required  lay-verify="required" placeholder="请输入商品价格" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">关键词</label>
					<div class="layui-input-block">
						<textarea name="keyword" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">描述</label>
					<div class="layui-input-block">
						<textarea name="description" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>
				{:token()}
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{include file="Public:footer" /}
<script type="text/javascript">
var option = {
	"upcolumnurl":"{:url('detail/columnUpImg')}",
};
layui.use(['form','upload'], function(){
	var form = layui.form;
	var upload = layui.upload;
	form.render();
	//图片上传
	var uploadInst = upload.render({
		elem: '#upcolumn'
		, accept: 'images'
		,acceptMime: 'image/*'
		, field: 'columnImg' //后台控制器中接受的参数，必须
		,auto:true // 自动上传
		,url: option.upcolumnurl //上传接口
		,before:function (obj) {
			console.log(obj);
			// 预览
			obj.preview(function(index,file,result) {
				$('#columnImg').toggleClass('layui-hide').attr({'src':result,'title':'商品图片'});;// 图片链接加载
				$('#columnImgs').val(result);
			});
		}
		,done: function (res) {
			if (res.code == 0) {
				layer.msg('上传成功！', {
					icon: 1,
					end: function () {
						$('#columnimgs').attr('src', res.url);
					}
				});
				$('#columnimgs').val(res.img);
			}
		}
		,error: function () {

		}
	});
	//监听提交
	form.on('submit(add)', function(data){
		var data = data.field;
		// console.log(data);
		$.post("{:url('detail/add')}",data,function(res){
			if(res.code == '1001'){
				layer.msg(res.data);
				setTimeout(function () {
					window.location.href = '';
				},2000)
			}else{
				// layer.msg(res.info, {time: 2000});
				layer.msg('添加失败 ');
			}
		},'json');
		return false;
	});
});
</script>
</body>
</html>